<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<connectionStrings>
	</connectionStrings>
	<appSettings>
		<add key="url" value="https://18.194.79.47/ItnvPriority/priority" />
		<add key="user" value="itnvpriority" />
		<add key="pwd" value="itnav2013!" />
	</appSettings>	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>